<!DOCTYPE>
<!DOCTYPE html>
<html>
  <% include teilstruktur/head %>
  <body>

        <!-- mittlerer Bereich (dynamisch)-->
        <div class="middlebox">

            <div id="navbarbg">
            </div>

            <div class="navbar">
                <a id="shufflenav" href="#Shuffle">Shuffle</a>
                <a id="nogosnav" href="nogos.html">NoGo's</a>
                <a id="loginnav" href="#Login">Login</a>
                <a id="ragistrationnav1" href="#Registration">Registration</a>
            </div>

            <div id="logo">
                <a id="home" href="index.html">
                <img src="bg.png" alt="What2Eat">
                </a>
            </div>

            <div  class="textbox">

              <h1>Login</h1>
              <br>
              <input type="text" name="Benutzername" placeholder="Benutzername" >
                  <br>
                  <input type="text" name="Passwort" placeholder="Passwort">
                  <br>
                  <br>
                  <a class="button" href="#start">einloggen</a>

            </div>
        </div>
  </body>
</html>
