<!DOCTYPE>
<html>
   <% include teilstruktur/head %>
<body>

    <!-- mittlerer Bereich (dynamisch)-->
    <div class="middlebox">

        <div class="navbar">
            <a id="nogosnav" href="nogos">NoGo's</a>
            <a id="loginnav" href="login">Login</a>
            <a id="ragistrationnav" href="regis">Registration</a>
        </div>

        <div id="logo">
            <a id="home" href="/">
            <img src="bg.png" alt="What2Eat">
            </a>
        </div>

        <script>
          /*Übergabe der Daten aus der Datenbank an Javascript*/
          
        </script>
          <%
            var zutat = new Array(idzutat.length);
            var x = Math.floor(Math.random() * gerichttitel.length);
            var l = 0;
            for (var i = 0; i < idgericht.length; i++) {
              if (idgericht[i] == x) {
                zutat[l] = bezeichnung[idzutat[i]];
                l = l+1;
              }
            }
          %>

        <div class="textbox">
          <h1><%= gerichttitel[x] %></h1>
          <p>
            <% for (var i = 0; i < l; i++) {%>
            <%= zutat[i] %><br>
            <% } %>
          </p>
        </div>

    </div>

</body>
</html>
