<!DOCTYPE>
<html>
   <% include teilstruktur/head %>
<body onload="gerichtToString()">

    <!-- mittlerer Bereich (dynamisch)-->
    <div class="middlebox">

        <div class="navbar">
            <a id="nogosnav" href="nogos">NoGo's</a>
            <a id="loginnav" href="login">Login</a>
            <a id="ragistrationnav" href="regis">Registration</a>
        </div>

        <div id="logo">
            <a id="home" href="/">
            <img src="bg.png" alt="What2Eat">
            </a>
        </div>

        <div class="textbox">
          <h1 id="gerichttitel">
          </h1>
          <p id="zutatenliste">
          </p>
          <p id="zubereitung">
          </p>
        </div>

    </div>

</body>
</html>
