<!DOCTYPE>
<html>
<head>
    <meta charset="utf-8" name="viewport" content="width=device-width">
    <link rel="stylesheet" type="text/css" href="style.css" />
</head>

<body>

    <!-- mittlerer Bereich (dynamisch)-->
    <div class="middlebox">

        <div id="navbarbg">
        </div>

        <div class="navbar">
            <a id="shufflenav" href="#Shuffle">Shuffle</a>
            <a id="nogosnav" href="nogos">NoGo's</a>
            <a id="loginnav" href="#Login">Login</a>
            <a id="ragistrationnav1" href="regis">Registration</a>
        </div>


        <div id="logo">
            <a id="home" href="connection">
            <img src="bg.png" alt="What2Eat">
            </a>
        </div>


        <div id="mobil_index" class="textbox">

                <a class="button" href="#shuffle">Registration</a>
                <a class="button" href="#NoGo´s">Login</a>

        </div>

        <div id="desktop_index" class="textbox">
            <%= bez %>
            <p class="text">
                Du bist untentschlossen?<br>
                Lasse dich &uuml;berraschen und dr&uuml;cke auf Shuffle,<br>
                damit ein zuf&auml;lliges Rezept generiert wird!
            </p>

            <p class="link">
                <a class="button" href="#shuffle">Shuffle</a>
            </p>

            <p class="text">
                Gibt es Zutaten, die du in einem Gericht<br>
                nicht m&ouml;chtest oder vertr&auml;gst..<br>
                Lasse es uns wissen und setze deine Go's und NoGo's
            </p>

            <p class="link">
                <a class="button" href="nogos">NoGo's</a>
            </p>

        </div>

    </div>


</body>
</html>
