
body {
   background-color: white;
}


/*Navigationsbar*/
#navbar {
  position: fixed;
  display: flex;
  justify-content: center;
  bottom: 10px;
  left: 8px;
  right: 6px;
}

#navbar div {
  flex-grow: 1;
  height: auto;
  border-color: #3ADF00;
  border-width: 1px;
  border-style: solid;
}
/*Navigationsleiste Links beim drübergehen*/
#navbar div:hover{
  background-color:#3ADF00;
}

#navbar div:hover > a {
  color: black;
}
/* navbar links */
#navbar a {
  font-size: 53px;
  color: #00ad00;
  text-shadow: 0px 1px 1px #088A08;

}



/*Navigationsleiste Bild*/
#navbar img {
  display:  inline-block;
  position: fixed;
  width: 800px;
  left: 50%;
  margin-left: -200px;
  top: 0px;
}

/*mittlere Box nicht benötigt in der mobil Sarstellung*/
#middlebox {
  text-align: center;
  height: 100%;
  width: 100%;
  margin-top: -5px;
  border-color: #3ADF00;
  border-width: 1px;
  border-style: solid;
}

/*Variable Textbox*/
.variablebox{
  position: absolute;
  display: inline-block;
  font-family: "Gill Sans", "Gill Sans MT", sans-serif;
  font-size: 20px;
  color: black;
  text-shadow: 0px 1px 1px #088A08;
  font-weight: 900;
  font-variant: small-caps;
}

#I{display: none;}
#II{display: none;}
#III{
  display: flex;
  position: fixed;
  justify-content: center;
  margin-top: 50%;
  left: 8px;
  right: 6px;
  top: 0px;
  bottom: 0px;
}
#VI{display: none;}
#IV{display: none;}

/*allgemeine Links*/
a {
  text-align: center;
  padding: 20px;
  text-decoration: none;
  font-family: "Gill Sans", "Gill Sans MT", sans-serif;
  font-size: 18px;
  color: #088A08;
  font-weight: 900;
  font-variant: small-caps;
}

a:hover {
  color: #848484;
}

/*Shuffelbutton nicht im Mobil*/
#shufflebutton {
display: none;

}

/* ÜBerschriften */
h1 {
  font-family: "Gill Sans", "Gill Sans MT", sans-serif;
  font-size: 30px;
  color: black;
  text-shadow: 0px 1px 1px #088A08;
  font-variant: small-caps;
  font-weight: 100;
}

.button {
  position: relative;
  background-size: cover;
  width: 400px;
  height: 200px;
  margin-left: 200px;
  border-color: #3ADF00;
  border-width: 1px;
  border-style: solid;
  padding-top: 100px;
  color: #088A08;
  text-shadow: 0px 1px 1px #088A08;
  font-family: "Gill Sans", "Gill Sans MT", sans-serif;

}

#buttoneins {display: none;}
#buttonzwei {display: none;}
#buttondrei {
  flex-grow: 1;
  margin-left: 0px;
}
#buttondrei a{
    font-size: 60px;
}
#buttonvier{
    flex-grow: 1;
  margin-left: 0px;
}
#buttonvier a{
    font-size: 60px;
}


/* Unterer Bereich */
#bottombox2{
  display: none;
}
