
body {
   background-color: white;
}


/*Navigationsbar*/
#navbar {
  position: fixed;
  display: flex;
  justify-content: center;
  width: 100%;
  bottom: 10px;
  left: 0px;
  border-color: #3ADF00;
  border-width: 1px;
  border-style: solid;
}

/*Navigationsleiste Bild*/
#navbar img {
  display:  inline-block;
  position: fixed;
  width: 500px;
  left: 50%;
  margin-left: -200px;
  top: 0px;
}

/*mittlere Box nicht benötigt in der mobil Sarstellung*/
#middlebox {
  text-align: center;

  margin-top: -5px;
  border-color: #3ADF00;
  border-width: 1px;
  border-style: solid;
}

/*Variable Textbox*/
.variablebox{
  position: absolute;
  display: inline-block;
  font-family: "Gill Sans", "Gill Sans MT", sans-serif;
  font-size: 20px;
  color: black;
  text-shadow: 0px 1px 1px #088A08;
  font-weight: 900;
  font-variant: small-caps;
}

#indexI{display: none;}
#indexII{display: none;}
#indexIII{
  display: flex;
  position: fixed;
  justify-content: center;
  left: 8px;
  right: 6px;

}
#indexVI{display: none;}
#indexIV{display: none;}

/*allgemeine Links*/
a {
  text-align: center;
  text-decoration: none;
  font-family: "Gill Sans", "Gill Sans MT", sans-serif;
  font-size: 18px;
  color: #088A08;
  font-weight: 900;
  font-variant: small-caps;
}

a:hover {
  color: #088A08;
}


/* ÜBerschriften */
h1 {
  font-family: "Gill Sans", "Gill Sans MT", sans-serif;
  font-size: 30px;
  color: black;
  text-shadow: 0px 1px 1px #088A08;
  font-variant: small-caps;
  font-weight: 100;
}

.button {
  position: relative;
  background-size: cover;
  border-color: #3ADF00;
  border-width: 1px;
  border-style: solid;
  color: #088A08;
  text-shadow: 0px 1px 1px #088A08;
  font-family: "Gill Sans", "Gill Sans MT", sans-serif;

}

#indexnav1 {
  flex-grow: 1;
  height: auto;
  border-color: #3ADF00;
  border-width: 1px;
  border-style: solid;
  padding: 10px;
}

#indexnav1:hover{
  background-color:#3ADF00;
}
#navbar a{
  flex-grow: 1;
  font-size: 30px;
}

#shuffleindexzentrum { display: none; }
#nogosindexzentrum { display: none; }
#registrationintexzentrum { display: none; }
#loginindexzentrum{ display: none; }



/* Unterer Bereich */
#bottombox{
  display: none;
}
